body {
 background-image: href= green textured bg.jpg;
 background-color: #ABEBC6;
}

#pic {
	float: left;
	margin: 40px auto 60px;
}

#container {
	width: 800px;
	margin: 40px auto 60px;
}

#content-contact {
	margin: 0 0 16px 0;
	padding: 0 0 16px 0;
	font-size: 42px;
	font-weight: bold;
	letter-spacing: -2px;
	border-bottom: 1px solid #999;
}
